.profile h2{
    font-size:1.5rem;
}
p   {
    margin:15px;
}
.froms h1{
    font-size:1.6rem;
    color: #2196F3;
} 
.relations h1{
    font-size:1.5rem;
    color:red
}

#create a{
    font-size:1.2rem;
}