.profile h2{
    font-size:1.5rem;
}
p   {
    margin:15px;
}
.froms h1{
    font-size:1.6rem;
    color: #2196F3;
} 
.relations h1{
    font-size:1.5rem;
    color:red
}

#create a{
    font-size:1.2rem;
}

.profile img{
    width: 150px;
    height: 200px;
    object-fit: cover;
}
.show {
    display: flex;
    background: white;
}

.show .image{
    width: 300px;
    height: 400px;
    position: relative;
}

.show .profile_show_img{
    object-fit: cover;
  }
  .show .name {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
  }
  .show .text {
    margin: 10px 0 0;
    padding: 0;
  }
  
  /* 画像を天地中央表示 */
  
  .show .image img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  